.App {
  text-align: center;
  clear: both;
}

.container{
  width: 1300px;
	margin: 0 auto;
	padding: 0 auto;
}

ul.Nav{
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}

.Nav li { 
  float:left;
  padding-bottom: 5px;
}
  ul.Nav a {
      display: block;
      align-content: center;
      width: 320px;
      padding: 6px 0;
      background-color:deeppink;
      text-decoration: none;
      color: #FFF;
      text-align: center;
      font-size: 15px;
      font-weight: normal;
  }
          ul.Nav a:hover {
              background-color: #b545ac;
              color: #FFF;
          }


/*.Nav{

}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
